{% extends "booking/base.html" %}
{% block content %}
    <a name="booking"></a>
    <div id="fh5co-services" class="fh5co-bg-section">
		<div class="container animate-box" data-animate-effect="fadeInUp">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-center">
                    <span>Anleitung</span>
                    <h2>Wie es funktioniert:</h2>
                    <p>Befolgen Sie ganz einfach diese paar Schritte, um Ihre Karten zu bestellen.</p>
				</div>
			</div>
			<div class="row">
                <ul class="Tutorial">
                <li id="Tutorial_1">Schritt 1: Geben Sie in die folgenden Felder Ihren Vornamen, Nachnamen und Ihre E-Mail Adresse ein. (Wir schicken Ihnen die Karten per E-Mail zu)</li>
                <div class="little-placeholder"></div>
                <li id="Tutorial_2">Schritt 2: Anschließend wählen Sie die Anzahl an Karten aus. (Maximal 6 Karten pro Bestellung)</li>
                <div class="little-placeholder"></div>
                <li id="Tutorial_3">Schritt 3: Wählen Sie nun die Vorstellung aus, die Sie besuchen möchten. (Dienstag, der 03.07.18 19:00 Uhr oder Mittwoch, der 04.07 um 19:00 Uhr)</li>
                <div class="little-placeholder"></div>
                <li id="Tutorial_4">Schritt 4: Klicken Sie nun auf bestellen. (Sie erhalten eine Bestätigungsemail mit Ihren bestellten Karten)</li>
                <div class="fh5co-heading"></div>
                <li id="Tutorial_5">Schritt 5: Drucken Sie Ihre Karte aus und bringen Sie sie mit. (Sie können auch Ihr Handy mit der Karte am Einlass vorzeigen)</li>
                <div class="placeholder"></div>
                <p id="finish">Fertig!</p>
                <div class="little-placeholder"></div>
                </ul>
			</div>
		</div>
	</div>

    <div id="fh5co-project">
		<div class="container">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading  animate-box" data-animate-effect="fadeInUp">
                <span>Bestellung</span>
                <h2>Bestellen Sie hier ihre Karten</h2>
                <p>Ihre E-Mail Adresse wird nur zur zum Senden der Karten verwendet!</p>
                <a href="{% url 'booking:services' %}#info"><div id="click">Weitere Informationen zum Theater.</div></a>
                <div id="Booking">
                    <h2 id="booking_text">Buchung</h2>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <form id="booking_questions" action="{% url 'booking:index' %}" method="post">
                        {% csrf_token %}
                        <table>
                            {% for field in form.visible_fields %}
                                <tr>
                                    <th>{{ field.label_tag }}</th>
                                    <td>
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <div style="color:#ff0000">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ field }}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>&nbsp;</td>
                                <td id="booking_button">
                                    <input id="booking_button_only" type="submit" value="Jetzt buchen!">
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}