{% load static %}
<nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div id="fh5co-logo"><a href="{% url 'booking:index' %}">Theater des Gestaltenkurses der Schule am Eiderwald<span>.</span></a></div>
            </div>
            <div class="col-xs-12 text-center menu-1">
                <ul>
                    <li {% if current_view == 'booking' %}class="active"{% endif %}>
                        <a href="{% url 'booking:index' %}#booking">Bestellen</a>
                    </li>
                    <li {% if current_view == 'services' %} class="active"{% endif %}>
                        <a href="{% url 'booking:services' %}#info">Über das Theater</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>