{% extends "booking/base.html" %}
{% block content %}
    <a name="policies"></a>
    <div id="fh5co-services" class="fh5co-bg-section">
		<div class="container animate-box" data-animate-effect="fadeInUp">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Datenschutzhinweise</h2>
                    <p class="Tutorial">Sämtliche Daten, die auf dieser Seite erfasst werden, dienen einzig dem Bestellprozess für Eintrittskarten und werden nach der jeweiligen Vorstellung gelöscht.</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}