{% extends "booking/base.html" %}
{% load static %}
{% block content %}
    <a name="info"></a>

    <div id="fh5co-services">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-center animate-box" data-animate-effect="fadeInUp">
					<div class="fh5co-heading">
						<span>Über das Theater</span>
						<h2>Alles Märchen - oder was?</h2>
						<p id="Description">Es waren einmal ...
                        Geschichten aus dem Märchenwald. Zusammengetragen, vermischt, improvisiert, erarbeitet,  gestaltet, ausgeschmückt und modernisiert  vom WPU Gestalten, 9. Jahrgang.
                        Märchen sind phantasievolle Geschichten, in denen Wirklichkeit und wundersame Dinge miteinander vermischt werden, ohne Anspruch auf Glaubwürdigkeit zu erheben.
                        Gute Unterhaltung!
                        </p>
					</div>
				</div>
			</div>
		</div>
	</div>

    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url('{% static 'booking/images/img_bg_1.jpg' %}'');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeInUp">
							<h1 class="mb30">Das Theater</h1>
                            <h2 id="Termine">Termine:</h2>
                            <ul id=Termine_list>
                                {% for performance in performances %}
                                    <li id="Termin_{{ performance.id }}">{{ performance.start_date }} | {{ performance.start_time }} Uhr</li>
                                {% endfor %}
                            </ul>
                            <div class="fh5co-heading"></div>
                            <a href="{% url 'booking:index' %}#booking"><div id="click">Bestellen Sie jetzt Ihre Karten!</div></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

    <div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Mitwirkende</span>
					<h2>Mitwirkende</h2>
                    <p>
                        <ul id="Mitwirkende">
                            <li>Leonie Krauthammer | Froschprinzessin, Tanz</li>
                            <li>Schokofa Ahmadi    | Aschenputtels Stiefschwester</li>
                            <li>Alex Gutzeit       | Erzähler, Wolf</li>
                            <li>Leylan Joli        | Schneewittchen</li>
                            <li>Jacob Jüttner      | Froschkönig</li>
                            <li>Faribah Sawari     | Aschenputtels Stiefschwester </li>
                            <li>Milena Schok       | Blaukäppchen </li>
                            <li>Kim Stange         | Rotkäppchen, Tanz </li>
                            <li>Alicia Steffen     | Aschenputtel</li>
                            <li>Alina Dambrowsky   | Hexe, Marktfrau </li>
                            <li>Angelina Janetzki  | böse Königin</li>
                            <li>Gina Knese         | Goldmarie </li>
                            <li>Carlotta Langmaack | Dornröschen </li>
                            <li>Alexander Nicke    | Hänsel </li>
                            <li>Tom Nickoleit      | Rumpelstilzchen </li>
                            <li>Emily Seelemann    | Gretel </li>
                            <li>Ida Sentz          | Sterntaler </li>
                            <li>Lea Schemborski    | Großmutter, Tutorial</li>
                            <div class="placeholder"></div>
                            <p id="Mitwirkende_Kulissen">Hinter den Kulissen</p>
                            <li>Technik, Videoschnitt: Florian Dankmer</li>
                            <li>Web-Design/Umsetzung: Luka Rode </li>
                            <li>Kostüme: Ida Sentz, Alicia Steffen</li>
                            <li>Requisite: Emily Seelemann, Carlotta Langmaack</li>
                            <li>Maske: Angelina Janetzki, Gina Knese</li>
                            <li>Choreographie: Leonie Krauthammer</li>
                            <li>Bühne: Alex Gutzeit, Alexander Nicke</li>
                            <li>Umbau: Kjell Pelzer</li>
                            <li>Tontechnik: Luka Rode</li>
                            <div class="placeholder"></div>
                            <li>Idee und Dramaturgie: Alle </li>
                            <li>Regie: Alle </li>
                            <div class="placeholder"></div>
                            <li>Leitung: Annette Braak</li>
                            <div class="placeholder"></div>
                        </ul>
                    </p>
				</div>
			</div>
		</div>
	</div>

    <div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Zur Bestellung</span>
					<h2>Bestellen</h2>
					<p>Klicken Sie auf den Knopf, um zur Bestellung der Karten zu gelangen</p>
					<a href="{% url 'booking:index' %}#booking"><button type="submit" class="btn btn-default">Bestellen Sie jetzt Ihre Karten!</button></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}